{% extends "homepage.html" %}

{% block content %}
<div class='row'>
<div class='col-sm-12 col-sm-offset-0'>
<h1>About Me</h1>
<p class="lead">My name is Cameron Woody and I am a 24 year old aspiring Python/Django Developer from Vegas. Growing up, I was always interested in making video games and took elective courses in high school learning the basics of languages like Visual Basic and C++, but ultimately decided to pursue engineering instead. After messing around with Python a bit in my spare time, I realized I was having a lot more fun trying to figure out how to create these small projects that could help me in my everyday life and decided to try and pursue a career in development instead. Moving beyond the exposition, I am a huge sports fan (Go Eagles!) and fitness enthusiast. I also hope to be able to travel, which is part of what has made python development so attractive to me.  </p>
</div>
{% endblock %}
</div>
